@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: black;
    /* font-family: "Ubuntu", sans-serif; */
    font-family: "Exo", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    color: white;
}

.bg-main{
    background-color: #000000;
}
.bg-sec{
    background-color: #00091f;
}
.bg-thd{
    background-color: #FCA311;
}
.bg-fth{
    background-color: #E5E5E5;
}

.main-text {
    /* font-family: "Ubuntu", sans-serif; */
    font-family: "Exo", sans-serif;

}
.sec-text {
    font-family: "Edu AU VIC WA NT Arrows", cursive;
}
.thr-text {
    font-family: "Jaro", sans-serif;
}

.show {
    left: -110% !important;  
}